{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <form class="register-form" method="POST" action="">
        {% csrf_token %}
        <div class="register-row">
            <p>Ім'я користувача</p>
            {{ form.username }}
        </div>
        <div class="register-row">
            <p>Електронна пошта</p>
            {{ form.email }}
         </div>
        <div class="register-row">
            <p>Пароль</p>
            {{ form.password1 }}
         </div>
        <div class="register-row">
            <p>Підтвердження паролю</p>
            {{ form.password2 }}
         </div>
        <input type="submit" name="Create User" value="Зареєструватись">
    </form>
{% endblock content %}